<h1>Preguntontas</h1>

<form method= "post" action="/siguiente">
Pregunta <%= @total %>: <%= @pregunta %>
<br>
<br>  1 - <%= @opciones[0] %>
<br>  2 - <%= @opciones[1] %>
<br>  3 - <%= @opciones[2] %> 
<br>  4 - <%= @opciones[3] %> 

<br>
<br>
Respuesta: <input name="respuesta" type="text">
<input type="submit" value="Siguiente">
<br>
<br>Puntaje: <%= @puntaje %> / <%= @total-1 %>

</form>
