<h1>Preguntas</h1>

<form method= "post" action="/pregunta1">
  
  1) <%= @pregunta %>
  <br><br>

  <input type="radio" name="rta1" value="0"> <%= @opciones[0] %><br>
  <input type="radio" name="rta1" value="1"> <%= @opciones[1] %><br>  
  <input type="radio" name="rta1" value="2"> <%= @opciones[2] %><br>
  <input type="radio" name="rta1" value="3"> <%= @opciones[3] %><br> 
  <br>
  <input name="responder" type="submit" value="Responder" >  

</form>
